@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    background: var(--main-background);
}

:root {
    --primary-color: #d90552;
    --secondry-color: #707071;
    --black: #0000;
    --main-background: #e9ecf3;
    --menu-color: #fff0f3;
    --second-bg: #af99bf;
    --dotted: #94a604;
}

.mtb-100 {
    margin-top: 100px;
    margin-bottom: 100px;
}

.mt-100 {
    margin-top: 100px;
}

.mb-100 {
    margin-bottom: 100px;
}

.primry_cr {
    color: var(--primary-color);
}

.heding{
    font-family: 'Roboto Slab', serif;
}

.second_cr {
    color: var(--secondry-color);
}

header {
    transition: all .5 ease-in-out;
}

.nav-item {
    padding: 10px;
}

.nav-link {
    color: black;
    transition: all .5s ease-in-out;
    position: relative;
}

.nav-link::before {
    content: "";
    position: absolute;
    height: auto;
    width: 0;
    top: 0;
    left: 0;
    transition: all .5s;
}

.nav-link::after {
    content: "";
    position: absolute;
    height: auto;
    width: 0;
    bottom: 0;
    right: 0;
    transition: all .5s;
}

.nav-link:hover {
    color: var(--menu-color);
}

.nav-link:hover::before {
    border: 1px solid var(--menu-color);
    width: 100%;
}

.nav-link:hover::after {
    border: 1px solid var(--menu-color);
    width: 100%;
}

.nav-img {
    padding: 10px;
    position: relative;
    margin-right: 10px;
}

.nav-img::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    transition: all .5s ease-in-out;
    border-radius: 100%;
}

.nav-img:hover::before {
    border: 1px solid var(--primary-color);
}

.navbar-toggler:focus {
    /* text-decoration: none; */
    /* outline: 0; */
    /* box-shadow: 0 0 0 0.25rem; */
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    /* box-shadow: 0 0 0 0.25rem; */
}

.top_banner {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top_img {
    position: absolute;
    top: -24px;
    left: 102px;
    z-index: -1;
}

.top_heding h5{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}

.top_heding h1 {
    font-size: 43px;
    font-family: 'Roboto Slab', serif;
}

.top_heding p {
    font-size: 1.5rem;
}

.primary_btn {
    background: var(--primary-color);
    color: var(--menu-color);
    border-radius: 20px;
    padding: 10px 40px;
    transition: all .5s ease-in-out;
}

.primary_btn:hover {
    background: var(--menu-color);
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
}


.testimonial {
    background-color: var(--primary-color);
    text-align: center;
    padding: 30px 30px 50px;
    margin: 100px 15px 30px;
    position: relative;
}

.testimonial::before,
.testimonial::after {
    content: "";
    border-right: 125px solid transparent;
    position: absolute;
    bottom: -40px;
    left: 0;
}

.testimonial::after {
    border-right: none;
    border-left: 125px solid transparent;
    left: auto;
    right: 0;
}

.testimonial .icon {
    display: inline-block;
    font-size: 80px;
    color: #016d9b;
    margin-bottom: 20px;
    opacity: 0.6;
}

.testimonial .description {
    font-size: 14px;
    color: #777;
    text-align: justify;
    margin-bottom: 30px;
    opacity: 0.9;
}

.testimonial .testimonial-content {
    width: 100%;
    left: 0;
}

.testimonial .pic {
    display: inline-block;
    border-radius: 50%;
    overflow: hidden;
    z-index: 1;
    position: relative;
}

.testimonial .pic img {
    width: 100%;
    height: auto;
}

.testimonial .name {
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-transform: capitalize;
    margin: 10px 0 5px 0;
}

.testimonial .title {
    display: block;
    font-size: 14px;
    color: #ffd9b8;
}

.owl-controls {
    margin-top: 20px;
}

.owl-pagination {
    display: flex;
    justify-content: center;
}

.owl-page {
    height: 10px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10%;
}

.owl-page:hover,
.owl-page.active {
    background-color: rgb(255, 255, 255);
}

.owl-page:not(first-item) {
    margin-left: 10px;
}






.title h5 {
    color: var(--primary-color);
    font-size: 30px;
    font-family: 'Dancing Script', cursive;
}

.title h2 {
    font-weight: 700;
    font-size: 3rem;
    font-family: 'Roboto Slab', serif;
}

.title p {
    color: var(--secondry-color);
}

.card {
    background: var(--menu-color);
    padding: 71px 20px 20px;
    position: relative;
    transition: all .5s;
}

.card:hover{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.menu_list {
    color: #fff0f3;
    position: absolute;
    top: 9px;
    right: 30px;
    font-weight: 700;
    font-size: 53px;
    text-shadow: -1px 1px 0 #d90552,
        1px 1px 0 #d90552,
        1px -1px 0 #d90552,
        -1px -1px 0 #d90552;
}

.card-title{
    font-family: 'Roboto Slab', serif;
}


.offerss {
    background: var(--second-bg);
    padding: 60px;
}

.today_font {
    font-size: 1.5rem;
}


.card1 {
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.card-img img {
    border-radius: 100%;
}


.testimonial1 {
    background: url(../img/home_pages/textimonial-bg.jpg) no-repeat;
    background-size: cover;
    padding: 90px;
}

.tstimonial_cs {
    background: var(--primary-color);
    padding: 40px 50px;
    position: relative;
}

.side {
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}

.side:hover {
    color: var(--dotted);
}


.awards {
    border: 2px dotted var(--dotted);
    position: relative;
    padding: 30px;
}

.chill {
    position: absolute;
    top: -149px;
    left: -192px;
    height: auto;
    width: 426px;
}

.awards h2 {
    font-size: 3rem;
}

.awards p {
    font-size: 18px;
}

.award_right{
    padding-left: 7.25rem;
}

.tstimonial_cs h5{
    font-family: 'Dancing Script', cursive;
}

.tstimonial_cs h2 {
    font-family: "Roboto Slab", serif;
    font-size: 2.6rem;
}


.calendar {
    color: #fff;
    /* height: auto; */
    /* width: 100px; */
    background: var(--second-bg);
    display: inline-block;
    padding: 5px 20px;
}

.links {
    color: black;
    transition: all .5s;
}

.links:hover {
    color: var(--primary-color);
}


.menu_img {
    height: 100%;
    width: 100%;
    border: 1px solid var(--second-bg);
}

.menu_img img {
    height: 332px;
    width: 600px;
    object-fit: cover;
}


.about_banner {
    min-height: 66vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about_banner::before {
    content: "";
    background: url(../img/About_Us/top_banner1.png);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    min-height: 90vh;
}

.about_heading h1 {
    font-weight: 700;
    color: #fff;
    font-size: 60px;
}


.about_bg {
    background: url(../img/About_Us/about_bg.png);
    background-size: cover;
    padding: 50px;
}


.strength {
    position: relative;
}

.strength_text h3{
    font-family: 'Roboto Slab', serif;
}

.strength::before {
    content: "";
    position: absolute;
    border: 1px dashed var(--primary-color);
    top: 0;
    right: -95px;
    height: 100%;
}


.card3 {
    background: var(--menu-color);
    padding: 15px;
    transition: all .5s;
}

.card3:hover{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}


.recipe_img img {
    border-radius: 25px;
}

.recipe_text h3 {
    font-size: 2rem;
    font-family: 'Roboto Slab', serif;
}

.recipe_prize h3 {
    position: relative;
    font-weight: 700;
    font-size: 2rem;
}

.recipe_prize h3::before {
    content: "";
    position: absolute;
    border: 2px solid black;
    top: 15px;
    left: 0;
    height: auto;
    width: 67px;
}

.recipe_prize h4 {
    font-size: 2rem;
    color: var(--second-bg);
}



.card2{
    border: 1px solid var(--second-bg);
    background: #fff;
    transition: all .5s;
}

.card2:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.blog_img img{
    border: 1px solid var(--second-bg);
}

.blog {
    border: 1px solid var(--primary-color);
}

.img_blog {
    position: relative;
}

.img_blog::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.35);
}

.img1 {
    background: linear-gradient(to bottom, #0000, #0000);
    border: 1px solid var(--primary-color);
}

.img1_content {
    position: absolute;
    top: 0;
    padding: 10px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 23px 10px;
}



.links1 {
    color: white;
    transition: all .5s;
}


.links1:hover {
    color: var(--primary-color);
}

.blog_content {
    top: 0;
    padding: 10px;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    padding: 23px 10px;
}


.contact {
    position: relative;
}

.contact_detail {
    position: absolute;
    top: 75px;
    right: 72px;
    height: auto;
    width: 411px;
    padding: 30px;
    background: var(--main-background);
}




footer {
    background: url(../img/home_pages/footer-bg.jpg);
    background-size: cover;
    padding: 40px;
}


.footer_time {
    background-color: #121526;
    padding: 30px;
}

.footer_line {
    position: relative;
}

.footer_line::before {
    content: "";
    position: absolute;
    top: 0;
    right: -90px;
    border: 1px solid var(--primary-color);
    height: 100%;
}

.footer_icon {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    background: #121526;
    transition: all 0.5s;
    display: inline-flex;
    height: 40px;
    width: 40px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    gap: 5;
}

.footer_icon:hover {
    color: var(--primary-color);
}

.footer_list ul {
    list-style: none;
}

.footer_list ul li a {
    text-decoration: none;
    color: #fff;
    line-height: 3;
    position: relative;
    transition: all .5s;
}

.footer_list ul li a::before {
    content: "";
    position: absolute;
    bottom: 8px;
    left: -20px;
    border: 2px solid var(--primary-color);
    height: 10px;
    width: 10px;
    opacity: 1;
    transition: all .5s;
    background: var(--primary-color);
    transform: rotate(45deg);
}

.footer_list ul li a:hover::before {
    border-radius: 100%;
}

.footer_list ul li a:hover {
    color: var(--primary-color);
}



.copyrights {
    background: var(--menu-color);
    padding: 10px;
}